{% stylesheets
'bundles/jseimagecrop/css/style.css'
filter='?yui_css'
%}
<link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}" />
{% endstylesheets %}

{% javascripts
'bundles/jseimagecrop/js/jqueryv2.0.0.js'
'bundles/jseimagecrop/js/jquery.cropit.min.js'
'bundles/jseimagecrop/js/cropit.init.js'
filter='?closure'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    $(function(){
        imageCrop.save_path = '{{ path('jse_image_crop_save') }}';
        imageCrop.init(500, 500);
        imageCrop.onsubmit = function(){
            $('.crop-status').html('saving...');
        }
        imageCrop.callback = function(data){
            if(data.saved) {
                $('.crop-status').html('saved!');
            } else {
                $('.crop-status').html('error on saving!');
            }
        }
    });
</script>

<div class="cropit-main-container">
    <form action="#" id="image_crop_from">
        <div class="image-editor">
            <div class="cropit-image-preview-container">
                <div class="cropit-image-preview"></div>
            </div>
            <div class="image-size-label">
                Resize image
            </div>
            <div class="slider-wrapper">
                <span class="icon icon-image small-image">-</span>
                <input type="range" class="cropit-image-zoom-input custom" min="0" max="1" step="0.01">
                <span class="icon icon-image large-image">+</span>
            </div>
            <input type="hidden" name="image-data" class="hidden-image-data" />
            <input type="file" class="cropit-image-input">
            <div class="select-image-btn">Select new image</div>
            <button type="submit">Submit</button>
            <div class="crop-status"></div>
        </div>
    </form>
</div>